_auth = cmFuYWFtaXlhNzBAZ21haWwuY29tOkFQNHc1UXFxeFRiU2Z1ZmI3dHJIeDF4NWdUNw==
always-auth = true
email = ranaamiya70@gmail.com

# to create .npmrc file
# https://www.jfrog.com/confluence/display/JFROG/User+Profile#UserProfile-APIKey
